#file-uploader{
	width: 30%;
	padding-top: 25px;
	margin: auto;
}

#search-pages{
	margin: auto;
	padding-top: 25px;
	width: 70%;
}

#individual-case-view{
	width: 60%;
	padding-top: 10px;
	margin: auto;
}

#hidden-casefile-input{
	display: none;
}

#case-edit-button{
	margin: auto;
}

#mycases-pages{
	margin: auto;
	padding-top: 25px;
	width: 60%; 
}

#search-medium{
	width: 15%;
}

#main-name{
	font-style: italic;
	font-size: 20px;
}

#title{
	width: 30%;
	margin: auto;
	padding-top: 10px;
	text-align: center;
}

#editor{
	text-align: center;
	padding-top: 3px;
}

#save-cancel-buttons{
	padding-top: 20px;
	margin: auto;
	text-align: center;
}

#account-manage{
	padding-right: 1%;
}

#case-search-view{
	width: 90%;
	padding-top: 15px;
	margin: auto;
}

#add-to-saved{
	margin: auto;
	padding-right: 5%;
}

#left-casefile-panel{
	width: 37%;
	padding-right: 3%;
	margin-left: auto;
	margin-right: auto;
}

#casefile-actions{
	display: inline-block;
	text-align: center;
	margin: auto;
}

#casefile-creation{
	margin: auto;
	width: 80%;
	padding-top: 1%;
}

.pages{
	margin: auto;
}

.pagination{
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

.pages-mobile{
	margin: auto;
	width: 100%; 
	padding-top: 10px;
}

.add-to-casefile{
	float: right;
}

div{
	font-family: 'IBM Plex Sans', sans-serif;
}

body{
	font-family: 'IBM Plex Sans', sans-serif;
}

h4{
	font-family: 'IBM Plex Sans', sans-serif;
}

